.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),
    url('../../assets/static.gif');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*..........................................*/

.hero-right{
    flex-basis: 60%;
    margin-right: 25px;
    
    text-align: left;
    max-width: 800px;
}

.hero-left{
    flex-basis:40%;
    margin-left: 25px;
    margin-right: 25px;

    text-align: right;
}

/* RIGHT CONTENT ...............................*/

.hero-text h1{
    font-size: 60px;
    font-weight: 600;
}

.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}

/* LEFT CONTENT ............................*/

.pfp{
    width: 50%;
}
