.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: #fff;
    color: #000;
  }
  
  .f-left, .f-center, .f-right {
    flex: 1;
  }
  
  .f-left {
    margin-left: 25px;
    text-align: left;
  }
  
  .f-center {
    text-align: center;
  }
  
  .f-right {
    margin-right: 25px;
    text-align: right;
  }
  
  .f-img {
    width: 150%;
    height: auto;
  }
  
  footer p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  