/* ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* TODO */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
body{
  background: #f0f0f0;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container{
  padding-top:60px;
  padding-bottom:60px;
  padding-left: 1%;
  padding-right: 1%;
  
}

.titleimage{
  margin-top: 10px;
  text-align: center;
}