.row {
    display: flex;          
    align-items: center;     
    justify-content: center; 
    gap: 20px;
    margin:10px;
  }

.pc1 {
    image-rendering: pixelated;  
    width:15%;
    height:auto;
    padding:10px;
    border: 2px solid lightgrey;
}
.pc2 {
    image-rendering: pixelated;  
    width:60%;
    height:auto;
}