.music-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #D3D3D3	;
  color: black;
  text-align: left;
  width: 250px;

  background: 
    linear-gradient(rgba(211, 211, 211, 0), rgba(211, 211, 211, 0)), 
    url("../../assets/music/covers/bg.gif"); 
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay; 
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 

}


/* TITULO */

.title-container {
    width:100%;
}

.title {
    margin: 10px 0;
    font-size: 1.2em;
  }

/* IMAGEN */

.cover-container {
  position: relative;
  width: 250px;
  height: 250px; 
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* WAVEFORM */

.waveform {
    width: 100%;
    height: 52px;
    background: #292929 ;
    background-size: 50%;
  }
  

/* CONTROLES */

.controles-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 0px 15px 0px 0px;
}
  
.play-button,
.volume-container {
width: 50px;
height: 50px;
background-color: white;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
border: 2px solid black;
box-shadow: 2px 2px 0px black;
transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.play-button.active,
.volume-container.active {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 0px black;
}

.play-icon {
    width: 25px;
    height: 25px;
}

.volume-icon {
width: 25px;
height: 25px;
cursor: pointer;
}

.volume-slider {
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 100px;
transition: opacity 0.3s ease-in-out;
accent-color: black;

}
  
